DB_DATABASE=quotes
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432

AUTH_BETTER_AUTH_SECRET=example_secret_dont_use_in_prod
AUTH_BETTER_AUTH_URL=http://localhost:3000

AUTH_GOOGLE_CLIENT_ID=example_google_client_id
AUTH_GOOGLE_CLIENT_SECRET=example_google_client_secret

APP_CORS=http://localhost:5173
