DB_DATABASE=quotes
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432

BETTER_AUTH_SECRET=example_secret_dont_use_in_prod
BETTER_AUTH_URL=http://localhost:3000

CLIENT_URL=http://localhost:5173
